<a href="https://colab.research.google.com/github/jpscard/Unyleya_IA_Specialization/blob/main/Atividade_05_Eng_software_Unylyea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Atividade 5 - Engenharia de software - Unyleya
## Aluno:João Paulo da Silva Cardoso
### Github
https://github.com/jpscard/Unyleya_IA_Specialization/blob/main/Atividade_05_Eng_software_Unylyea.ipynb

### 1)      Vamos criar uma planilha com o conteúdo de sua preferência, mas seguindo alguns requisitos, a planilha de ter entre 8 e 12 colunas, e deve ter entre 80 e 200 linhas, assim vamos poder manipular bastante os dados desta tabela.

In [1]:
import pandas as pd
import numpy as np

# Cria um DataFrame com 12 máquinas (colunas) e 100 sensores (linhas)
df = pd.DataFrame(np.random.rand(100, 12), columns=['Máquina {}'.format(i) for i in range(1, 13)])

# Imprime o DataFrame
print(df)

    Máquina 1  Máquina 2  Máquina 3  Máquina 4  Máquina 5  Máquina 6  \
0    0.444753   0.677089   0.666925   0.625521   0.617989   0.178400
1    0.944754   0.811787   0.528098   0.953716   0.980125   0.215817
2    0.662909   0.910573   0.704162   0.645990   0.008645   0.915809
3    0.586420   0.662715   0.572103   0.218659   0.756783   0.107201
4    0.660676   0.215454   0.260101   0.933993   0.185786   0.623299
..        ...        ...        ...        ...        ...        ...
95   0.835672   0.777917   0.848370   0.279615   0.383934   0.187886
96   0.647045   0.927474   0.205969   0.387343   0.464862   0.036711
97   0.476343   0.888176   0.855904   0.168720   0.543813   0.407457
98   0.100780   0.506841   0.001017   0.292139   0.446460   0.147198
99   0.423892   0.254655   0.041244   0.028000   0.176720   0.565240

    Máquina 7  Máquina 8  Máquina 9  Máquina 10  Máquina 11  Máquina 12
0    0.362978   0.828003   0.436613    0.536669    0.596505    0.581961
1    0.772373   0.629578   0.477750    0.387817    0.686038    0.325429
2    0.143898   0.696897   0.453349    0.828294    0.740170    0.266973
3    0.011793   0.626532   0.543416    0.967093    0.199939    0.036664
4    0.392752   0.216707   0.915015    0.750719    0.848294    0.883301
..        ...        ...        ...         ...         ...         ...
95   0.983400   0.739594   0.163304    0.616504    0.160903    0.831224
96   0.940180   0.062896   0.787674    0.197415    0.131495    0.339195
97   0.045261   0.561442   0.577194    0.522381    0.948489    0.333421
98   0.204640   0.134106   0.337553    0.847273    0.766961    0.044713
99   0.508454   0.643046   0.088208    0.640799    0.329724    0.952823

[100 rows x 12 columns]

In [2]:
# Exporta o DataFrame para um arquivo CSV
df.to_csv('dados_maquinas.csv', index=False)

### 2)      Vamos executar os comandos abaixo e reportar as saídas:

### a) Por meio de um notebook, ou do prompt do Python (é necessário já ter instalado o Python no seu computador) vamos importar a biblioteca Pandas, dica use o comando “import pandas as pd”, por exemplo;

In [3]:
import pandas as pd

### b) Agora com a planilha salva em uma pasta conhecida do seu computador vamos ler os dados para uma variável que podemos chamar de df, por exemplo, em referência ao seu tipo, Data Frame, ou outro nome a sua escolha, dica, use o comando “df = read_excel (<pasta_e_nome_do_arquivo>)”;

In [4]:
df = pd.read_csv('dados_maquinas.csv')

### c) Agora vamos ler as 5 primeiras e as 3 últimas linhas da planilha com usando os métodos head e tail do Pandas;

In [5]:
# exibir 5 primeiras linhas
df.head()

,Máquina 1,Máquina 2,Máquina 3,Máquina 4,Máquina 5,Máquina 6,Máquina 7,Máquina 8,Máquina 9,Máquina 10,Máquina 11,Máquina 12
0,0.444753,0.677089,0.666925,0.625521,0.617989,0.178400,0.362978,0.828003,0.436613,0.536669,0.596505,0.581961
1,0.944754,0.811787,0.528098,0.953716,0.980125,0.215817,0.772373,0.629578,0.477750,0.387817,0.686038,0.325429
2,0.662909,0.910573,0.704162,0.645990,0.008645,0.915809,0.143898,0.696897,0.453349,0.828294,0.740170,0.266973
3,0.586420,0.662715,0.572103,0.218659,0.756783,0.107201,0.011793,0.626532,0.543416,0.967093,0.199939,0.036664
4,0.660676,0.215454,0.260101,0.933993,0.185786,0.623299,0.392752,0.216707,0.915015,0.750719,0.848294,0.883301

In [6]:
# exibir 3 ultimas linhas
df.tail(3)

,Máquina 1,Máquina 2,Máquina 3,Máquina 4,Máquina 5,Máquina 6,Máquina 7,Máquina 8,Máquina 9,Máquina 10,Máquina 11,Máquina 12
97,0.476343,0.888176,0.855904,0.168720,0.543813,0.407457,0.045261,0.561442,0.577194,0.522381,0.948489,0.333421
98,0.100780,0.506841,0.001017,0.292139,0.446460,0.147198,0.204640,0.134106,0.337553,0.847273,0.766961,0.044713
99,0.423892,0.254655,0.041244,0.028000,0.176720,0.565240,0.508454,0.643046,0.088208,0.640799,0.329724,0.952823

### d) Descubra o método que nos mostra um relatório resumido da nossa planilha, neste momento, do nosso data frame e anote a saída em seu relatório;

In [7]:
# relatório de estatística básica
df.describe()

,Máquina 1,Máquina 2,Máquina 3,Máquina 4,Máquina 5,Máquina 6,Máquina 7,Máquina 8,Máquina 9,Máquina 10,Máquina 11,Máquina 12
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.517702,0.538233,0.475034,0.467005,0.511070,0.510157,0.498808,0.509670,0.504136,0.532262,0.554371,0.458832
std,0.270723,0.289127,0.295993,0.286157,0.284176,0.282783,0.300577,0.282642,0.305079,0.250652,0.284432,0.260264
min,0.009310,0.023537,0.001017,0.002450,0.008050,0.017238,0.001596,0.005475,0.014379,0.049315,0.033337,0.004742
25%,0.309832,0.305396,0.226686,0.213399,0.261665,0.307609,0.233101,0.242198,0.245034,0.353422,0.305183,0.248537
50%,0.509167,0.539992,0.474419,0.478500,0.509634,0.518083,0.483860,0.523294,0.475482,0.521315,0.614265,0.425008
75%,0.730823,0.786906,0.705209,0.680563,0.772899,0.734672,0.771101,0.727202,0.792502,0.717339,0.779536,0.666147
max,0.989154,0.987091,0.995277,0.991420,0.980125,0.996548,0.999961,0.978891,0.999896,0.989268,0.997227,0.989876

### e) Agora vamos adicionar o próprio data frame a atual data frame, e vamos conferir que seu tamanho realmente duplicou como de esperado, após relatar isso, podemos eliminar as duplicações, dica de comando, vejam: append, shape e drop_duplicates;

In [8]:
# Duplica o DataFrame usando o método append()
df1 = df.append(df)

# Verifica o tamanho do DataFrame duplicado
print(df1.shape)

(200, 12)

<ipython-input-8-5362e4637dbe>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df.append(df)

In [9]:
# eliminar linhas duplicadas
df_no_duplicates = df.drop_duplicates()

# Verifica o tamanho do DataFrame
print(df_no_duplicates.shape)

(100, 12)

### f) Vamos agora imprimir os nomes atuais das colunas, com o comando columns, e depois renomear algumas destas colunas, com o comando rename, e imprimir novamente os nomes das colunas para termos a certeza que foram alterados com o comando da forma que queríamos;

In [10]:
# Imprime os nomes atuais das colunas
print(df1.columns)

# Renomeia as colunas 'Máquina 1' e 'Máquina 2' para 'M1' e 'M2', respectivamente
df1 = df1.rename(columns={'Máquina 1': 'M1', 'Máquina 2': 'M2', 'Máquina 3': 'M3', 'Máquina 4': 'M4', 'Máquina 5': 'M5', 'Máquina 6': 'M6', 'Máquina 7': 'M7', 'Máquina 8': 'M8', 'Máquina 9': 'M9', 'Máquina 10': 'M10', 'Máquina 11': 'M11', 'Máquina 12': 'M12',})

# Imprime os novos nomes das colunas
print(df1.columns)

Index(['Máquina 1', 'Máquina 2', 'Máquina 3', 'Máquina 4', 'Máquina 5',
       'Máquina 6', 'Máquina 7', 'Máquina 8', 'Máquina 9', 'Máquina 10',
       'Máquina 11', 'Máquina 12'],
      dtype='object')
Index(['M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'M10', 'M11',
       'M12'],
      dtype='object')

In [11]:
# Exibir 5 primeiras linhas
df1.head()

,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12
0,0.444753,0.677089,0.666925,0.625521,0.617989,0.178400,0.362978,0.828003,0.436613,0.536669,0.596505,0.581961
1,0.944754,0.811787,0.528098,0.953716,0.980125,0.215817,0.772373,0.629578,0.477750,0.387817,0.686038,0.325429
2,0.662909,0.910573,0.704162,0.645990,0.008645,0.915809,0.143898,0.696897,0.453349,0.828294,0.740170,0.266973
3,0.586420,0.662715,0.572103,0.218659,0.756783,0.107201,0.011793,0.626532,0.543416,0.967093,0.199939,0.036664
4,0.660676,0.215454,0.260101,0.933993,0.185786,0.623299,0.392752,0.216707,0.915015,0.750719,0.848294,0.883301

### g) Agora seguindo a apostila acrescente mais três comandos usando métodos do Pandas e anote as saídas no relatório que deverá ser enviado nesta tarefa.

In [12]:
# Ordenar o DataFrame por uma coluna específica:
# Podemos usar o método sort_values() para ordenar o DataFrame com base nos valores de uma coluna específica
df_sorted = df1.sort_values('M1')
df_sorted.head()

,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,M11,M12
68,0.009310,0.546516,0.700180,0.638347,0.279338,0.764048,0.226408,0.438353,0.285198,0.460258,0.033337,0.181316
68,0.009310,0.546516,0.700180,0.638347,0.279338,0.764048,0.226408,0.438353,0.285198,0.460258,0.033337,0.181316
51,0.017230,0.776966,0.242747,0.208315,0.322987,0.017238,0.593800,0.617146,0.857368,0.399751,0.646645,0.085340
51,0.017230,0.776966,0.242747,0.208315,0.322987,0.017238,0.593800,0.617146,0.857368,0.399751,0.646645,0.085340
85,0.028433,0.070082,0.956008,0.893022,0.515953,0.712650,0.623822,0.398376,0.983394,0.253788,0.693700,0.674071

In [13]:
#Agrupar os dados por uma coluna e calcular estatísticas:
#Podemos usar o método groupby() para agrupar os dados do DataFrame com base nos valores de uma coluna específica e, em seguida, calcular estatísticas para cada grupo
df_grouped = df1.groupby('M1').agg({'M2': ['mean', 'std'], 'M3': ['mean', 'std']})
print(df_grouped.head())

                M2             M3
              mean  std      mean  std
M1
0.009310  0.546516  0.0  0.700180  0.0
0.017230  0.776966  0.0  0.242747  0.0
0.028433  0.070082  0.0  0.956008  0.0
0.029593  0.750650  0.0  0.005441  0.0
0.040102  0.517992  0.0  0.165997  0.0

In [14]:
#Filtrar linhas com base em uma condição:
#Podemos usar operadores lógicos para criar condições e filtrar linhas do DataFrame com base nessas condições
df_filtered = df1[df1['M1'] > 0.5]
print(df_filtered.head())

         M1        M2        M3        M4        M5        M6        M7  \
1  0.944754  0.811787  0.528098  0.953716  0.980125  0.215817  0.772373
2  0.662909  0.910573  0.704162  0.645990  0.008645  0.915809  0.143898
3  0.586420  0.662715  0.572103  0.218659  0.756783  0.107201  0.011793
4  0.660676  0.215454  0.260101  0.933993  0.185786  0.623299  0.392752
5  0.506821  0.852624  0.381896  0.199436  0.938514  0.631259  0.435623

         M8        M9       M10       M11       M12
1  0.629578  0.477750  0.387817  0.686038  0.325429
2  0.696897  0.453349  0.828294  0.740170  0.266973
3  0.626532  0.543416  0.967093  0.199939  0.036664
4  0.216707  0.915015  0.750719  0.848294  0.883301
5  0.229548  0.473214  0.695897  0.631194  0.210154